@import "_variables.scss";



.content {
    display: block;
    width: $full;
    height: auto;



    #vehicles {
        #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }
        
        #th, #red, #white {
            position: absolute;
            height: 75vh;
            width: 23vw;
            width: 50vw;
            height: auto;
            margin: auto;

        }

        #form {
            position: absolute;
            overflow: hidden;
            height: 75vh;
            width: 23vw;
            top: 20vh;
            right: 10vw;
            border-radius: 1.5vw;
            /* From https://css.glass */
        }
    }

    #vehicles,
    #why-mazda,
    #journey,
    #whats-new {
        position: relative;
        width: 100vw;
        height: 100vh;

        p {
            padding-top: 15vh; //brings item below nav bar
            color: black;
        }

    }

    #journey #video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 100%;
        min-height: auto;
        z-index: 20000000;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
}