@import "_variables.scss";

.header {
    background-color: transparent;
    position: fixed;
    z-index: $nav-index;
    width: $full;
    height: 12vh;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 2fr;
    grid-template-areas:
        "top"
        "bottom";
    align-items: center;


    #nav-bar,
    #nav-bar1 {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
    }


    #nav-bar {
        grid-area: bottom;
        align-self: start;
        justify-content: right;
        align-self: stretch;


        a {
            font-size: x-large;
            font-weight: 200;
            color: whitesmoke;
            opacity: 0.5;
            padding-left: 1vw;
            padding-right: 1vw;

        }

        a svg {
            display: inline-block;
            vertical-align: top;
        }

        svg:hover {
            transform: scale(1.2);
            background-color: transparent;
            opacity: 1;
        }

    }

    #nav-bar1 {
        grid-area: top;
        justify-content: right;
        border-bottom: 2px solid #e71837;

        a {
            font-size: large;
            margin-left: 2vw;
            margin-right: 2vw;
            font-weight: 200;
            color: whitesmoke;
            opacity: 0.5;

        }

        a svg {
            display: inline-block;
            vertical-align: bottom;
        }

        a:hover,
        svg:hover {
            transform: scale(1.2);
            background-color: transparent;
            opacity: 1;
        }
    }




}