@import "_variables.scss";

html, body, a{
    display: block;
    font-family: $font-stack;
    text-decoration: none;
    color: snow;
overflow-x: hidden;
}

/*hidden scrollbar*/

body::-webkit-scrollbar {
    width: 0;
  }
